#about h1{
color: rgb(144, 50, 50);
font-size: 2rem;
max-width: 95%;
}

#about {
    background-color: rgb(41, 156, 118);
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#about .link {
    text-decoration: none;
    color: rgb(144, 50, 50);
}

#about .link:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}