#contact h1{
    color: rgb(207, 158, 237);
    font-size: 2rem;
    max-width: 95%;
    }

    #contact form{
        width: 95%;
        max-width: 1000px;
        margin: 0 auto
    }



    #contact {
        background-color:  rgb(233, 57, 34);
        padding: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    
    #contact .link {
        text-decoration: none;
        color: rgb(207, 158, 237);

    }
    
    #contact .link:hover {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }