.footer h1{
    font-size: 2rem;
    color:  rgb(40, 145, 180);
}

.footer h2{
    font-size: 1.5rem;
    color:  rgb(40, 145, 180);
}
.footer p{
    font-family: 'Lato';
    color: rgb(40, 145, 180);
    font-size: 1.5rem;
}
    
a { 

    text-decoration: none;
    color: rgb(40, 145, 180);
    font-size: 1.5rem;
  
  
  }
  
  a:hover {
   color: cornflowerblue;
  font-style: italic;
  text-decoration: underline;
  }
  

