footer {
    display: flex;
    flex-direction: row;
    padding-left: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.footer h1{
    font-size: 2rem;
    color:  rgb(40, 145, 180);
}

.footer h2{
    font-size: 1.5rem;
    color:  rgb(40, 145, 180);
    padding-left: 0%;

}
.footer p{
    font-family: 'Lato';
    color: rgb(40, 145, 180);
    font-size: 1.5rem;
}
    
a { 

    text-decoration: none;
    color: rgb(40, 145, 180);
    font-size: 1.5rem;
  
  
  }
  
  a:hover {
   color: cornflowerblue;
  font-style: italic;
  text-decoration: underline;
  }
  

  @media screen and (max-width: 600px) {

        .footer {
            display: flex;
            flex-direction: column;
            padding-left: 3vw;
            padding-top: 2vh;
            padding-bottom: 2vh;
        }
     
    }
  

