.footer h1{
    font-size: 2rem;
    color:  rgb(40, 145, 180);
}

.footer p{
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    color: rgb(40, 145, 180);
    font-size: 2rem;
}