@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Lato');


:root{
    font-size: 18px;
    --mainThemeColor: rgb(0, 0, 0);
    background-color: rgba(246, 221, 189, 0.89);
    font-family: "Arvo";
}


p {
    color: rgb(0, 0, 0);
    font-family: "Lato";
}

#loading, #pageNotFound{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(206, 103, 172);
}


.navLink { 

  text-decoration: none;
  color: rgb(40, 145, 180);


}

.navLink:hover {
 color: cornflowerblue;
font-style: italic;
text-decoration: underline;
}


@media screen and (max-width: 992px) {
    body {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    body {
      font-size: 1rem;
    }

    header {
      font-size: .75rem;
    }
  }

  