:root{
    font-size: 18px;
    --mainThemeColor: rgb(99, 120, 99);
    background-color: antiquewhite;
  
}


p {
    color: rgb(84, 82, 82);
    font-family: sans-serif;
}

#loading, #pageNotFound{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(206, 103, 172);
}


.navLink, .link { 

  text-decoration: none;
  color: rgb(40, 145, 180);


}

.navLink:hover, .link:hover {
 color: cornflowerblue;
}

/* nav .active {
  color: red;
} */

@media screen and (max-width: 992px) {
    body {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    body {
      font-size: 1rem;
    }
  }

  